<div class="background-image">

<div class="background">
    <div class="inner">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
            <h1>Login</h1>
            <div class="field">
                <label for="username"></label>
                <input type="text" pInputText formControlName="username"  class="box" name="Username" placeholder="Username"/>
            </div>
            <small *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)"
            class="p-error">
                Enter a valid email
            </small>
            <div class="field">
                <label for="password"></label>
                <input type="password" pInputText formControlName="password" class="box" name="password" placeholder="Password"/>
            </div>
            <small *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
            class="block p-error">
                Enter a valid password
            </small>
            <div class="btn-field">
                <p-button label="Login" styleClass="w-full"
                [disabled]="loginForm.invalid" type="Submit"></p-button>
                
            </div>
            <div class="mt-2">
                Don't have a account? <a routerLink ='/signup'>Register</a>
            </div>
        </form>
        </div>      
</div>
</div>
<!-- </div> -->