<div class="background">
    <img src="../../../assets/Profile.png" alt="">
    <div class="inner">
    
    <form [formGroup]="userForm" (ngSubmit)="updateUser(userForm)">
        <div class="field">
            <label for="name">Name: </label>
            <input type="text" pInputText formControlName="name"  name="name" placeholder="name"/>
        </div>
        <div class="field">
            <label for="mobileNumber">Mobille Number: </label>
            <input type="text" pInputText formControlName="mobileNumber" name="mobileNumber" placeholder="mobileNumber"/>
        </div>
        <div class="field">
            <label for="gender">Gender: </label>
            <input type="text" pInputText formControlName="gender" name="gender" placeholder="gender"/>
        </div>
        <div class="field">
            <label for="age">Age: </label>
            <input type="text" pInputText formControlName="age" name="age" placeholder="age"/>
        </div>
        <div class="field">
            <label for="email">Email: </label>
            <input type="email" pInputText formControlName="email" name="email" placeholdero="email"/>
        </div>
        <div class="field">
            <p-button label="Submit" class="element"
            [disabled]="userForm.invalid" type="Submit" ></p-button>
            
        </div>
    </form>
    </div>
    <!-- </div> -->
</div>
