<h1>Your Active Bookings</h1>
<div class="outer" *ngIf="bookings">
<p-table
    [value]="bookings"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 20]"
>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:25%">Booking Date</th>
            <th style="width:25%">Booking Id</th>
            <th style="width:25%">Name</th>
            <th style="width:25%">Email</th>
            <th style="width:25%">Start date</th>
            <th style="width:25%">End date</th>
            <th style="width:25%">Mobile number</th>
            <th style="width:25%">Number of people</th>
            <th style="width:25%">Update</th>
            <th style="width:25%">Cancel</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bookings>
        <tr>
            <td>{{ bookings.booking_date }}</td>
            <td>{{ bookings.booking_id }}</td>
            <td>{{ bookings.name }}</td>
            <td>{{ bookings.email }}</td>
            <td>{{ bookings.start_date }}</td>
            <td>{{ bookings.end_date }}</td>
            <td>{{ bookings.mobile_number }}</td>
            <td>{{ bookings.no_of_people }}</td>
            <td><button (click)="update(bookings)" class="btn-style">Update</button></td>
            <td><button (click)="cancel(bookings)" class="btn-style btn-style-cancel">Cancel</button></td>

        </tr>
    </ng-template>
</p-table>
</div>
<div *ngIf="display"><p id="display">{{displayMessage}}</p></div>
<div *ngIf="updated">
    <app-update-bookings [booking]="currentBooking" (parent) = parentVisible()></app-update-bookings>
</div>
