
:host ::ng-deep .p-dialog-content{
    width: 50vw;

}

:host ::ng-deep .p-card-title{
    color: #275657;
}


:host ::ng-deep .p-card-body{
    width: 47vw;  
    height: 35vw;     
    /* box-sizing: content-box; */
}

.field{
    margin-bottom: 1.5rem;
}

.input-text{
    width: 99%;
}

p-card[header]{
    width: 150px;
    text-align: center;
}

:host ::ng-deep .field .p-button{
    background-color: #275657;
    border: none; 
    color: white; 
    padding: 15px 30px; 
    text-align: center; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 8px; 
    transition-duration: 0.4s; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-left: 45px;
}