.card {
    position: relative;
    margin: 0 auto 0;
    padding-top: 0px;
  }

:host ::ng-deep .p-menubar { 
  background-color: #FFAE42;
  
  /* border-style: solid;  */
}

.outer{
    padding: 0px;    
}

:host ::ng-deep .p-button {
  background-color: black;
  color: white;
  width: 70px;
  height: 40px;
}

:host ::ng-deep .p-menu{ 
  background: #0da350 ; 
}

:host ::ng-deep .p-menu .p-menuitem-link .p-menuitem-text { 
  color: #000 !important; 
} 
:host ::ng-deep .p-menu .p-menuitem-link .p-menuitem-icon { 
  color: #000 !important; 
} 
:host ::ng-deep .p-menu .p-submenu-header{ 
  color: #000 !important; 
  background: #0da350 !important; 
} 