.card {
    position: relative;
    margin: 0 auto 0;
    padding-top: 0px;
  }

:host ::ng-deep .p-menubar { 
  background-color: #FFAE42;
}

:host::ng-deep p-menubarsub {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.outer{
    padding: 0px;    
}

.button-style{
  background-color: black;
  border: none; 
  color: white; 
  padding: 15px 30px; 
  text-align: center; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 8px; 
  transition-duration: 0.4s; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}
