.card {
    position: relative;
    margin: 0 auto 0;
    padding-top: 0px;
  }

:host ::ng-deep .p-menubar { 
  background-color: #275657;
}

:host::ng-deep p-menubarsub {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

:host::ng-deep .p-menuitem-text{
  color: white;
  text-decoration: solid;
}

:host::ng-deep .p-submenu-list{
  background-color: #275657;

}
:host ::ng-deep .p-menuitem-content :hover {
  background-color: #41b5af;
  
}
.outer{
    padding: 0px;    
}

:host::ng-deep .p-menubar-root-list{
  background-color: #275657;
}

.button-style{
  background-color: black;
  border: none; 
  color: white; 
  padding: 15px 30px; 
  text-align: center; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 8px; 
  transition-duration: 0.4s; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

.button-style:hover{
  background-color: #63dad4;
}
