<div class="outer">
<div class="card-display">
    <div *ngFor="let itinerary of itineraries"
    class="card-display-item">
    
        <p-card
        header="{{ itinerary.city }}"
        >
        <p>DAY: {{ itinerary.day }}</p>
        <P>DESCRIPTION: {{ itinerary.description }}</P>
        <ng-template pTemplate="header">
            <img
            alt="Card image"
            src="../../../../../assets/dashboard.png"
            />
        </ng-template>
        
    </p-card>
</div>
</div>
<div class="btn">
    <p-button label="Book Package" (click)="bookPackage()"></p-button>
    <p-button label="See Reviews" class="review-button" (click)="getReview()"></p-button>
</div>
</div>
<router-outlet></router-outlet>
