<h1>Packages</h1>
<div class="outer">
<div class="card-display" *ngIf="display">
    <div *ngFor="let package of packageName"
        class="card-display-item">
        <p-card
        header="{{ package.package_name }}"
        >
        <ng-template pTemplate="header">
            <img
            alt="Card image"
            src="../../../assets/dashboard.png"
            />
        </ng-template>
        <p-button label="Visit"
        (click)="onVisitClick(package.package_name)"></p-button>
        </p-card>
    </div>
    </div>
</div>
<div *ngIf="status">

    <app-tours [packageValue]="currentPackage"></app-tours>
</div>