<p-dialog  (onHide)= 'onClose()' [(visible)]="visible" [modal]="true" [style]="{ width: '50vw'}">
    <div class="outer">
       
    
        <form [formGroup]="bookingForm" (ngSubmit)="onSubmit(bookingForm)">
            <p-card header="Booking Details">
            <div class="field">
                <input type="text" pInputText formControlName="name"  name="name" placeholder="name"/>
            </div>
            <div class="field">
                <input type="text" pInputText formControlName="mobileNumber" name="mobileNumber" placeholder="Mobile Number"/>
            </div>
            <div class="field">
                <input type="date" pInputText formControlName="startDate" id = "startDate" name="startDate" placeholder="Start Date"/>
            </div>
            <div class="field">
                <input type="number" pInputText formControlName="noOfPeople" name="noOfPeople" placeholder="Number of people"/>
            </div>
            <div class="field">
                <input type="email" pInputText formControlName="email" name="email" placeholder="Email"/>
            </div>
            <div class="field">
                <p-button label="Submit" 
                [disabled]="bookingForm.invalid" type="Submit"></p-button>
            
        <!-- </p-card>
        </form>
        </div>
</p-dialog> -->