<!-- <div class="image-background"> -->
<div class="background-image">
    <div class="background">
        <div class="inner">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
            <h1>Signup</h1>
            <div class="field">
                <input type="text" pInputText formControlName="username"  name="Username" placeholder="Username" class="box"/>
            </div>
            <small *ngIf="signUpForm.controls['username'].invalid && (signUpForm.controls['username'].dirty || signUpForm.controls['username'].touched)"
            class="p-error">
                Enter a valid Username
            </small>
            <div class="field">
                <input type="password" pInputText formControlName="password" name="password" placeholder="Password" class="box"/>
            </div>
            <small *ngIf="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)"
            class="p-error">
                Enter a valid Password
            </small>
            <div class="field">
                <input type="text" pInputText formControlName="name" name="name" placeholder="Name" class="box"/>
            </div>
            <small *ngIf="signUpForm.controls['name'].invalid && (signUpForm.controls['name'].dirty || signUpForm.controls['name'].touched)"
            class="p-error">
                Enter a valid Name
            </small>
            <div class="field">
                <input type="text" pInputText formControlName="mobile_number" name="mobile_number" placeholder="Mobile Number" class="box"/>
            </div>
            <div class="field">
                <input type="text" pInputText formControlName="gender" name="gender" placeholder="gender" class="box"/>
                <small *ngIf="signUpForm.controls['mobile_number'].invalid && (signUpForm.controls['mobile_number'].dirty || signUpForm.controls['mobile_number'].touched)"
                class="p-error">
                    Enter a valid Mobile Number
                </small>
            </div>
            
            <small *ngIf="signUpForm.controls['gender'].invalid && (signUpForm.controls['gender'].dirty || signUpForm.controls['gender'].touched)"
            class="p-error">
                Enter a valid Gender
            </small>
                <div class="field">
                <input type="text" pInputText formControlName="age" name="age" placeholder="Age" class="box"/>
            </div>
            <small *ngIf="signUpForm.controls['age'].invalid && (signUpForm.controls['age'].dirty || signUpForm.controls['age'].touched)"
            class="p-error">
                Enter a valid Age
            </small>
            <div class="field">
                <input type="email" pInputText formControlName="email" name="email" placeholder="Email" class="box"/>
            </div>
            <small *ngIf="signUpForm.controls['email'].invalid && (signUpForm.controls['email'].dirty || signUpForm.controls['email'].touched)"
            class="p-error">
                Enter a valid Email
            </small>
            <div class="field">
                <p-button label="SignUp" 
                [disabled]="signUpForm.invalid" type="Submit"></p-button>
            </div>
            <div class="mt-2">
                Already have an account? <a routerLink="/login">Login</a>
            </div>
        </form>
    </div>
</div>
</div>