
:host ::ng-deep .p-dialog-content{
    background-color: #FFAE42;
    height: 45vw; 
    width: 43vw;

}

:host ::ng-deep .p-dialog-header{
    background-color: #FFAE42;

}

:host ::ng-deep .p-card-body{
    width: 40vw;  
    height: 35vw;     
    background-color: #FFAE42; 
    /* box-sizing: content-box; */
}

.field{
    margin-bottom: 1.5rem;
}

input{
    width: 99%;
}

p-card[header]{
    width: 360px;
    text-align: center;
}

