
:host ::ng-deep .p-dialog-content{
    height: 45vw; 
    width: 43vw;

}

:host ::ng-deep .p-card-body{
    width: 40vw;  
    height: 35vw;     
}

.field{
    margin-bottom: 1.5rem;
}

input{
    width: 99%;
}
:host ::ng-deep .p-card-title{
    color: #275657;
}

p-card[header]{
    width: 360px;
    text-align: center;
}

:host ::ng-deep .field .p-button{
    background-color: #275657;
}